# History files
.Rhistory
.Rapp.history
.Rproj.user


# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# local folders
/data
/images
/nc_files
/test_tif

# confidental data files
*.csv
